@inherits LayoutComponentBase
@using MarkdownEditorDemo.Services
@inject ViewOptionsService ViewOption

<div class="page">
	<div class="sidebar @ViewOption.NavBarClass">
		<NavMenu />
		@* <FileExplorerNav/> *@
	</div>

	<div class="main">
		<div class="top-row">
			@* <a href="https://puresourcecode.com" target="_blank" class="ml-md-auto">PureSourceCode.com</a> *@
		</div>

		@* <div class="content px-4"> *@
		<div class="content">
			@Body
		</div>
	</div>
</div>

@code {

	protected override void OnInitialized()
	{
		base.OnInitialized();
		ViewOption.OnChanged = () =>
		{
			StateHasChanged();//Refresh
		};
	}
	// protected override async Task OnInitializedAsync()
	// {
	// 	ViewOption.OnChanged = () =>
	// 	{
	// 		StateHasChanged();//Refresh
	// 	};
	// }
}
